{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

<section>
    <div class="main">
        {% for season in seasons %}
            <a href="/season/{{ season }}" class="season-link">
                <div class="season-card">
                    <p class="episode">Season {{ season }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</section>

{% include 'Partials/footer.twig' %}


