{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

<section>

    {% for season in seasons %}

        <a href="/season/{{ season }}">
            <p class="episode">Season {{ season }}</p>
        </a>

    {% endfor %}

</section>

{% include 'Partials/footer.twig' %}


