{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

<section>
        {% for episode in episodes %}
        <a href="/episode/{{ episode.id }}">

            <p class="episode">{{ episode.name }}</p>
        </a>
    {% endfor %}
</section>

{% include 'Partials/footer.twig' %}
