{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

    <div class="container text-center">
        <div class="alert alert-danger" role="alert">
            <h1>Page not found!</h1>

        </div>

    </div>
