{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

<section>
    {% if episodes is empty %}
    <p class="episode">No results found!</p>
    {% else %}
        {% for episode in episodes %}
            <a href="/episode/{{ episode.id }}">
                <div class="episode">{{ episode.name }}</div>
            </a>
        {% endfor %}
    {% endif %}
</section>

{% include 'Partials/footer.twig' %}


