html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    font-family: 'Comic Sans MS', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100%
}

.content {
    flex: 1;
}

a {
    text-decoration: none;
    color: #007BFF;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #ff6b6b;
    color: white;
    padding: 10px 0;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe663;
    height: 100px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.episode {
    background-color: #fff;
    width: 100%;
    max-width: 900px;
    border-radius: 100px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.episode:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

section a {
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    flex: 1;
}

footer {
    background-color: #ff6b6b;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.character {
    width: calc(33.33% - 20px);
    background-color: #87CEEB;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}

.character:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.character h3 {
    font-size: 20px;
    margin: 10px 0;
}

.character img {
    max-width: 700%;
    border-radius: 60px;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    margin: 20px;
}

.weather p {
    font-size: 18px;
    margin: 10px 0;
}

.weather form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.weather input[type="text"] {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.weather button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.weather .searched-weather {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.symbol {
    font-size: 136px; /* Adjust the font size as needed */
}
