{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

<section>

    <p class="episode">{{ episode.episode }} | Air date: {{ episode.airDate.format('Y-m-d') }}</p>

</section>

{% include 'Partials/footer.twig' %}
